
<div class="container">
  <div *ngIf="showErrorAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>¡Algo salio mal!</strong> {{ msgAlert }}
    <button (click)="showError = !showError" type="button" class="btn-close"></button><!-- data-bs-dismiss="alert" aria-label="Close" -->
  </div>
</div>

<div class="text-center">
  <img class="my-3" [src]="'/assets/img/logo/angularjs-login.png'" alt="" width="130" height="auto">

  <h1 class="h4 mb-3 fw-normal">INGRESE A SU CUENTA</h1>

  <div class="row">
    <div class="col-sm-12 col-md-4"></div>

    <div class="col-sm-12 col-md-4 style-content-form">
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="my-3">
        <div class="input-group has-validation">
          <input formControlName="emailInput" (keyup)="onKeyUpInputEmail()"
            id="emailInput" name="emailInput"
            type="email" class="form-control border-r-n" aria-describedby="inputGroupPrepend" placeholder="Correo electrónico">

          <span class="input-group-text style-icon" id="inputGroupPrepend">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="color-gray bi bi-envelope" viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
            </svg>
          </span>

          <div *ngIf="emailInput.invalid && emailInput.touched" class="text-left error">
            {{ errorsEmailInput }}
          </div>
        </div>

        <div class="input-group my-3 has-validation">
          <input formControlName="passwordInput" (keyup)="onKeyUpInputPassword()"
            id="passwordInput" name="passwordInput"
            type="password" class="form-control border-r-n" aria-describedby="inputGroupPrepend" placeholder="Contraseña">

          <span (click)="viewPasswordInput()" *ngIf="!viewPassword; else viewPass" class="input-group-text style-icon" id="inputGroupPrepend">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="color-gray bi bi-eye-slash" viewBox="0 0 16 16">
              <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
              <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
              <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884l-12-12 .708-.708 12 12-.708.708z"/>
            </svg>
          </span>
          <ng-template #viewPass>
            <span (click)="viewPasswordInput()" class="input-group-text style-icon" id="inputGroupPrepend">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="color-gray bi bi-eye" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
              </svg>
            </span>
          </ng-template>

          <div *ngIf="passwordInput.invalid && passwordInput.touched" class="text-left error">
            {{ errorsPasswordInput }}
          </div>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" name="rememberInput" formControlName="rememberInput"> Recuérdame
          </label>
        </div>

        <button [disabled]="loginForm.invalid" class="w-100 btn btn-primary" type="submit">Iniciar Sesión</button>
      </form>
    </div>

    <div class="col-sm-12 col-md-4"></div>
  </div>

  <div class="row my-4">
    <span class="col-12">¿No tienes una cuenta?</span>
    <a [routerLink]="['/registrase']" class="col-12" href="#">Crea una cuenta</a>
  </div>
</div>


